.contenu{

margin-left:20px ;

}

form{

    margin-left:30% ;
}


label{
font-size:30px;
color:blue ;
margin-right:5% ;


}

#number{

border-radius:10px;
border:10px solid green;
height:25px ;

}

.submit{
    background-color: green;
    height:30px ;
    width:90px ;
    color:white;
}